* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header css start  */

header {
    background: rgba(255, 144, 14, 0.1);
}

.nav-class {
    width: 90%;
    margin: auto;
}

.logo {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
    padding: 0 100px;
}

.nav-menu {
    float: right;
}

.li-class {
    display: inline-block;
    line-height: 80px;
    margin-left: 30px;

}

.anchor {
    color: #424242;
    font-weight: 500;
}

.intro-div {
    margin-top: 80px;
    text-align: center;

}

.intro-div-h1 {
    margin-bottom: 30px;

}

.intro-div-p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;

}

.btn-button {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 50px;

}

.header-img-div {
    text-align: center;

}

.header-img {
    margin-bottom: 40px
}

/* feature css start here  */
.main-feature {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.feature-section {
    margin: auto;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.feature-text {
    margin: auto;
}
.span-one{
    color: #131313;
}
.span-two{
    color: #FF900E;
}

.feature-text h1 {
    margin-bottom: 30px;
    color: #727272;

}

.feature-text p {
    margin-bottom: 30px;
    align-items: center;

}

/* love and enjoy feature css  */
.feature-two {
    display: flex;
    width: 90%;
    margin: auto;
}

.love-feature {
    margin: auto;
    margin-right: 20px;
}
.vertical-line{
    border-left: 5px solid #FF900E;
    height: 100px;
    width: 10px;
    float: left;
}

.feature-heading h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
}

.feature-heading p {
    color: #727272;
    margin-bottom: 30px;
}

.feature-details {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 35px;

}

.feature-details h5 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;

}

.frature-details p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* button css  */
.position-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.button-class {
    position: absolute;
    right: 700px;
    top: -56px;
}

.facts {
    width: 80%;
    margin: auto;
    margin-top: 100PX;
}

.facts h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20PX;

}

.facts p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* awards css  */
.awards {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;

}

.awards-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
}

.awards-box h1 {
    color: #424242;
    font-weight: 600;
    font-size: 40px;

}

.awards-box p {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

.awards-box:hover {
    background-color: #FF900E;
    border: 2px solid #0b84ee;
}

.sponsor-section {
    margin: 200px;
}

.sponsor {
    text-align: center;
}

.sponsor h1 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;

}

.sponsor p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.sponsor-images {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    filter: grayscale(100%);
    margin-top: 50px;
}
/* about me css  */
.about-me {
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.about-me-h1 {
    color: #131313;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}
.about-me-p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-button-one{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background-color:#FF900E;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 64px;
}
.about-me-img{
   height: 700px;
    margin-left: 300px;
}
/* footer css  */
footer {
    background: #FFF4E7;
    border-radius: 8px;
    padding: 30px;
    margin: 50px;
}

footer p {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
}