* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header css start  */

header {
    background: rgba(255, 144, 14, 0.1);
}

.nav-class {
    width: 90%;
    margin: auto;
}

.logo {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
    padding: 0 100px;
}

.nav-menu {
    float: right;
}

.li-class {
    display: inline-block;
    line-height: 80px;
    margin-left: 30px;

}

.anchor {
    color: #424242;
    font-weight: 500;
}

.intro-div {
    margin-top: 80px;
    text-align: center;

}

.intro-div-h1 {
    margin-bottom: 30px;

}

.intro-div-p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;

}

.btn-button {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 50px;

}

.header-img-div {
    text-align: center;

}

.header-img {
    margin-bottom: 40px
}

/* feature css start here  */
.main-feature {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.feature-section {
    margin: auto;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.feature-text {
    margin: auto;


}

.feature-text h1 {
    margin-bottom: 30px;

}

.feature-text p {
    margin-bottom: 30px;
    align-items: center;

}

/* love and enjoy feature css  */
.feature-two {
    display: flex;
    width: 90%;
    margin: auto;
}

.love-feature {
    margin: auto;
    margin-right: 20px;
}

.feature-heading h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
}

.feature-heading p {
    color: #727272;
    margin-bottom: 30px;
}

.feature-details {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 35px;

}

.feature-details h5 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;

}

.frature-details p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}